/* Completely different styles */

body {
    background-color: #f0f0f0;
    color: #333333;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #66cc66;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #ffffff;
  }
  
  nav a {
    color: #333333;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #66cc66;
    padding: 10px;
    text-align: center;
  }
  
  a {
    color: #3399ff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Button styling */
button {
  background-color: #66cc66;
  color: #020202;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #66cc66;
}
  
/*image styling*/


.image-section {
  position: relative;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container img {
  width: 45%; /* Adjust the width based on your preference */
  max-width: 400px; /* Set a maximum width for flexibility */
  border-radius: 8px;
  overflow: hidden;
  margin-right: 20px; /* Add space between images */
}

/* Add more styles as needed */

